{% extends '/layout.html.twig' %}
{% block content %}
    {% if error is defined %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
	<div class="container-wrap">
		
		<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
                    <div class="inner">
<form method="post">
<h3>Connexion</h3>
<div class="form-wrapper">
    <label class="text-form">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" {% if last_username is defined %} {{ last_username }} {% endif %} required autofocus/>
</div>
<div class="form-wrapper">
<label class="text-form">Mot de passe</label>
<input type="password" name="password" id="inputPassword" class="form-control" required/>
</div>
<input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

<button class="register">Connexion</button>
</form>
</div>
</div>
		</div>

	</div>    
    
{% endblock %}
