{% extends '/layout.html.twig' %}
{% block content %}
<div class="container-wrap">
	<div class="well well-lg">
		<h1 class="media-heading">Bienvenue sur mon site!</h1>
		<p class="welcome">
				Ici, c'est du concret! Pour tout le monde, et plus particulièrement les amateurs de lecture, je propose un site où il n'y a que l'identité des livres et mon avis personnel. En effet, il permet de trouver, retrouver ou encore découvrir les livres qui vous plaise en un seul clic.
		</p>
	</div>
	<p class="big-words">Les nouveautés</p>
	
	<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
			<div class="row">
				{% for article in articles %}
				<div class="col-md-4 animate-box">              
					<div class="services">
						<a href={{ path('pagelivre', { 'id': article.id})}} class="img-holder"><img class="img-responsive" src="{{ asset(article.image) }}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">{{ article.titre }}</a></h3>
							<p>{{ article.auteur }}</p>
						</div>
					</div>             
				</div>
				{% endfor %} 
			</div>
		</div>
	</div>    
</div>
{% endblock %}
