{% extends '/layout.html.twig' %}

{% block content %}
<div class="container-wrap">
	<div class="row">
		<div id="fh5co-counter" class="fh5co-counters">
			<div id="fh5co-services" class="fh5co-light-grey">
				<div class="col-md-4 animate-box">
					<div class="services">
						<span class="img-holder"><img class="img-responsive" src="{{ asset(article.image) }}" alt="Free HTML5 Website Template by freehtml5.co"></span>
						<div class="desc">
							<h3><a href="#">{{ article.titre }}</a></h3>
							<p>{{ article.auteur }}</p>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<table class="table table-bordered">
					<thead>
						<tr>
							<th>Catégorie</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Romance</td>
						</tr>	
					</tbody>

					<thead>
						<tr>
							<th>Titre</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ article.titre }}</td>
						</tr>
									<thead>
									<tr>
										<th>Auteur</th>
									</tr>
									</thead>
									<tr>
										<td>{{ article.auteur }}</td>
									</tr>
									<thead>
									<tr>
										<th>Editeur</th>
									</tr>
									</thead>
									<tr>
										<td>{{ article.editeur }}</td>
									</tr>
									<thead>
									<tr>
										<th>Date de parution</th>
									</tr>
									</thead>
									<tr>
										<td>{{ article.dateparu|date("m/d/Y") }}</td>
									</tr>
									<thead>
									<tr>
										<th>Résumé</th>
									</tr>
									</thead>
									<tr>
										<td>{{ article.resume }}</td>
									</tr>
									</tbody>
								</table>
				</div>
			</div>
		</div>
	</div>
        {% for commentaire in commentaires %}
		<div class="row well">
			<h4>{{commentaire.pseudo}} - {{commentaire.note}}/5</h4>
			<p class="media-comment">{{commentaire.contenu}}</p>
		</div>
	{% endfor %}
        
        
            
	{% if app.user.username is defined %}
		<div class="row">
			<form action="{{ path ('new_feedback') }}" method="POST">
				<h4>Ajouter mon avis</h4>
				<label>Ma note: </label>
				<input type="number" name="note" min="1" max="5" value="1" id="note" />
				<span>/5</span>
				<textarea class="blockXResize bordered" name="contenu"></textarea>
				<input name="article" value="{{article.id}}" type="hidden" />
				<input name="user" value="{{app.user.id}}" type="hidden"/>
				<input name="_method" value="POST" type="hidden">
				<input type="submit" class="btn btn-primary" value="Envoyer" />
			</form>
		</div>
	{% else %}
            <h4 class="text-center">Ajouter un commentaire? Connectez-vous!</h4> <br>
            {% endif %}
        
	</div> 
		</div>

	</div>
    
{% endblock %}
