{% extends '/layout.html.twig' %}
{% block content %}
	<div class="container-wrap">
		<p class="big-words">Profil utilisateur</p>
		<div id="fh5co-counter" class="fh5co-counters">
                    <a href="{{ path ('user', {'id': app.user.id}) }}"><button type="button" class="btn btn-secondary">Profil</button></a>
                   
                    <a href="{{ path ('posts' , {'id': app.user.id}) }}"><button type="button" class="btn btn-secondary">Mes posts</button></a>
		<div id="fh5co-services" class="fh5co-light-grey">
                    
                    <div class="inner2">
    <div class="row my-2">
            
                <div class="tab-pane active" id="profile">
                    <div class="row">
                    <!--/row-->
                </div>
             
                {% for commentaire in commentaires %}
                    <div class="row">
                        <h4>{{commentaire.user.pseudo}} - {{commentaire.note}}/5</h4>
                        <p class="media-comment">{{commentaire.contenu}}</p>
                    </div>
                    <a href="{{ path ('removeComment', {'id': commentaire.id}) }}">Remove</a>
                    
                {% endfor %}
        
</div>

		</div>

	</div><!-- END container-wrap -->
                </div>
	<!-- END container-wrap -->
	</div>  
    
{% endblock %}
