{% extends '/layout.html.twig' %}
{% block navigation %}
					<div class="col-md-12 col-md-offset-0 text-center menu-1">
						<ul>
							<li><a href="{{ path ('home') }}">Home</a></li>
							<li><a href="{{ path ('science') }}">Science-Fiction</a></li>
							<li><a href="{{ path ('guerre') }}">Guerre</a></li>
							<li class="active"><a href="{{ path ('romance') }}">Romance</a></li>
							<li><a href="{{ path ('classique') }}">Classiques</a></li>
						</ul>
					</div>
                                    {% endblock %}
{% block content %}
	<div class="container-wrap">
	
		<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">

			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="pagelivre.html" class="img-holder"><img class="img-responsive" src="images/solomon.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Solomon Kane</a></h3>
							<p>Robert E. Howard</p>
			
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/tresse.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">La tresse</a></h3>
							<p>Laetitia Colombani</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/unpeubcp.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Un peu, beaucoup, à la folie</a></h3>
							<p>Liane Moriarty</p>
						</div>
					</div>
				</div>
                            <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/coyo.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Le dernier coyote</a></h3>
							<p>Michael Connelly</p>
			
						</div>
					</div>
				</div>
                            <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/maman.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Ma mère avait raison</a></h3>
							<p>Alexandre Jardin</p>
			
						</div>
					</div>
				</div>
                            <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/vivre.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Hâte-toi de vivre!</a></h3>
							<p>Laure Rollier</p>
			
						</div>
					</div>
				</div>
                            <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/pouvoir.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Le pouvoir</a></h3>
							<p>Naomi Alderman</p>
			
						</div>
					</div>
				</div>
                            <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/autopsie.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Mon autopsie</a></h3>
							<p>Jean-Louis Fournier</p>
			
						</div>
					</div>
				</div>
                            <div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/enferme.jpeg" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">Enfermé.e</a></h3>
							<p>Jacques Saussey</p>
			
						</div>
					</div>
				</div>
			</div>
		</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="index.html">Précédent</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">Suivant</a></li>
  </ul>
	</div> 
        </div>
    
{% endblock %}
