{% extends '/layout.html.twig' %}
{% block content %}
<div class="container-wrap">
	
	<p class="big-words">Votre Recherche</p>
	
	<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
			<div class="row">
				{% for article in articles %}
				<div class="col-md-4 animate-box">              
					<div class="services">
						<a href={{ path('pagelivre', { 'id': article.id})}} class="img-holder"><img class="img-responsive" src="{{ article.image }}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">{{ article.titre }}</a></h3>
							<p>{{ article.auteur }}</p>
						</div>
					</div>             
				</div>
				{% endfor %} 
			</div>
		</div>
	</div>    
</div>
{% endblock %}