{% extends '/layout.html.twig' %}

{% block content %}
		<div class="container-wrap">
		<p class="big-words">Profil utilisateur</p>
		<div id="fh5co-counter" class="fh5co-counters">
                            
                    <a href="{{ path ('user', {'id': app.user.id}) }}"><button type="button" class="btn btn-secondary">Profil</button></a>
                    <a href="{{ path ('posts', {'id': app.user.id}) }}"><button type="button" class="btn btn-secondary">Mes posts</button></a>
     
		<div id="fh5co-services" class="fh5co-light-grey">
                    
                    <a>Mon email:  {{ app.user.email }}</a><br>
                    <a>Mon pseudo:  {{ app.user.pseudo }}</a>
                    
                    <div class="inner3">
    <div class="row my-2">
            
                <div class="tab-pane active" id="profile">
                    <div class="row">
                    <!--/row-->
                </div>

                
             
                
        
</div>

		</div>

	</div><!-- END container-wrap -->
                </div>
<!-- END container-wrap -->
	</div>
    
{% endblock %}
