{% extends '/layout.html.twig' %}

{% block content %}
		<div class="container-wrap">
		
		<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
                    <div class="inner">
{{ form_start(registrationForm) }}
<h3>Inscription</h3>
<div class="form-wrapper">
    <label class="text-form">Pseudo</label>
{{ form_widget(registrationForm.pseudo,{'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-wrapper">
<label class="text-form">Email</label>
{{ form_widget(registrationForm.email,{'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-wrapper">
<label class="text-form">Mot de passe</label>
{{ form_widget(registrationForm.password,{'attr': {'class': 'form-control'}}) }}
</div>
{{ form_end(registrationForm) }}
</div>
</div>
		</div>

	</div>
    
{% endblock %}

