{% extends '/layout.html.twig' %}

{% block content %}
<div class="container-wrap">
    <div class="well well-lg">
			<h2 class="media-heading">{{category}}</h2>
		</div>
	<div id="fh5co-counter" class="fh5co-counters">
		<div id="fh5co-services" class="fh5co-light-grey">
			<div class="row">
				{% for article in articles %}
				<div class="col-md-4 animate-box">      
					<div class="services">
						<a href={{ path('pagelivre', { 'id': article.id})}} class="img-holder"><img class="img-responsive" src="{{ asset(article.image) }}" alt="Free HTML5 Website Template by freehtml5.co"></a>
						<div class="desc">
							<h3><a href="#">{{ article.titre }}</a></h3>
							<p>{{ article.auteur }}</p>
						</div>
					</div>         
				</div>
				{% endfor %} 
            </div>
            <div class="row">
                {% if pages >= 2 %}
                <ul class="pagination">
                    {% if currentPage != 1 %} 
                    <li class="page-item"><a class="page-link" href="{{ path ("listCategoryPage", {"category": category, "page": currentPage - 1})}}">Précédent</a></li>
                    {% endif %}

                    {% for i in range(1, pages) %}
                    <li class="page-item"><a class="page-link" href="{{ path ("listCategoryPage", {"category": category, "page": i})}}">{{ i }}</a></li>
                    {% endfor %}

                    {% if currentPage != pages %}
                    <li class="page-item"><a class="page-link" href="{{ path ("listCategoryPage", {"category": category, "page": currentPage + 1})}}">Suivant</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}